// == COLORS ==
$text-primary: rgba(15, 19, 26, 1);
$text-secondary: rgba(56, 65, 80, 1);
$brand-light: rgba(234, 237, 241, 1);
$text-inverse: rgba(255, 255, 255, 1);
$text-quad: rgba(156, 163, 175, 1);
$text-tertiary: rgba(107, 114, 128, 1);

$dark-bg: rgba(32, 41, 55, 1);
$brand-color: rgba(249, 115, 22, 1);


// == SIZES == 
$header-height: 104px;
$header-padding: 32px 80px 32px 80px;