@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "partials/variables";
@import "partials/mixins";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Golos Text', sans-serif;
}

/* HEADER */
.header-container {
    background-color: $brand-light;
    display: flex;
    justify-content: center;

    .header-wrapper { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        max-width: 90rem;
        margin: 0 48px;
        border-bottom: 1px solid $brand-border;
        padding: 32px 0;
        width: 100%;

        .header-nav {
            ul {
                display: flex;
                cursor: pointer;
                @include gap-text(2rem)
            }
                li{
                    list-style-type: none;
                }
                    a {
                        @include text-medium;
                        color: $text-secondary;
                        text-decoration: none;
                    }
        }

        .header-list {
            display: flex;
            @include gap-text(0.5rem);

            .header-btn {
                button {
                    @include contact-btn;
                }
                    p {
                        @include text-medium;
                        @include weight(500);
                    }
            }

            .dropdown {
                position: relative;
            
                .select {
                    background: transparent;
                    color: $text-primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include padding-text(0.5rem 1rem);
                    @include text-medium;
            
                    &:hover,
                    &:active {
                        background-color: aqua;
                    }
                }
                
                .caret {
                    width: 0;
                    border-left: 0.313rem solid transparent;
                    border-right: 0.313rem solid transparent;
                    border-top: 0.25rem solid black;
                    transition: 0.3s;
                    margin-left: 0.313rem;
                }
                
                .caret-rotate {
                    transform: rotate(180deg);
                }
                
                .menu {
                    list-style-type: none;
                    @include padding-text(0.5rem);
                    background: white;
                    box-shadow: 0px 16px 32px 0px rgba(82, 88, 117, 0.08);
                    @include radius(0.3rem);
                    color: $text-primary;
                    position: absolute;
                    top: 3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    display: none;
                    transition: 0.2s;
                    z-index: 1;
            
                    li {
                        @include padding-text(1rem);
                        @include margin-text(0.5rem 0);
                        @include radius(0.3rem);
                    }
                }
                
                .active {
                    background: lightgrey;
                }
                
                .menu-open {
                    display: block;
                    opacity: 1;
                }
            }
        }
        
    }
}

/*Main Content*/
.main-container {
    background-color: $brand-light;

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 64px;
        max-width: 90rem;
        margin: 0 auto;
    }

    .main-cards {
        display: flex;
        justify-content: center;
        @include gap-text(1rem);
        @include margin-text(2.5rem 0 0 0);

        .div1 {
            width: 50%;
        
            img {
                width: 100%;
                border-radius: 12px;
            }
            
        }
        
        .div2 {
            width: 50%;
        
            img {
                width: 100%;
                border-radius: 12px;
            }
        }
    }

    .main-splide-content {
        margin-bottom: 96px;
    }
}

/*Footer*/
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-bg;
    @include padding-text(6rem 7rem 2.5rem 7rem);

    .footer-items-content {
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include gap-text(4rem);
    }

    .footer-content {
        display: flex;
        @include gap-text(4rem);
        width: 100%;
        height: 29.375rem;
        justify-content: space-between;
        


        .footer-first-part {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .first-part-text {
                display: flex;
                flex-direction: column;
                @include gap-text(1rem);

                .footer-contact {
                    @include text-medium;
                    color: $brand-color;
                    @include weight(500);
                    
                }
    
                h2 {
                    @include h2;
                    color: $text-inverse;
                    @include weight(600);
                }
    
                p  {
                    max-width: 35.5rem;
                    @include text-medium;
                    @include weight(400);
                    color: $text-inverse;
                }
            }
            
            .footer-info {
                display: flex;
                flex-direction: column;
                @include gap-text(1.313rem);
                
                .footer-items {
                    display: flex;
                    @include gap-text(0.5rem);
                    align-items: center;

                    p {
                        color: $text-inverse;
                        @include text-large;
                    }

                    .bi-telephone {
                        color: $text-inverse;
                    }

                    .bi-envelope {
                        color: $text-inverse;
                    }
                }
            }
            
        }
        .footer-form {
            display: flex;
            flex-direction: column;
            width: 568px;
            max-width: 600px;
            position: relative;
            @include padding-text(32px 0 32px 32px);
            @include gap-text(32px);
        
            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
        
                #name {
                    height: 42px;
                }

                .group-name {
                    width: 50%;
                }
            }

        
            .input-group {
                position: relative;
                @include padding-text(0.5rem 0 0 0);
            
            
                
        
                input, textarea {
                    width: 100%;
                    padding: 10px;
                    background-color: $color-ondark;
                    font-size: 15px;
                    border: none;
                    @include radius(0.25rem);
                    color: $text-inverse;
                }
        
                
                ::placeholder {
                    color: $text-tertiary;
                    @include text-small;
                    @include weight(400);
                }

                #email {
                    height: 42px;
                }

                label {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 25px;
                    color: $text-inverse;
                    @include text-small;
                    @include weight(500);
                    @include padding-text(0.5rem 0 0 0);
                }
            }
        
            button {
                color: #fff;
                @include text-medium;
                @include weight(500);
                background-color: $brand-color;
                border: none;
                @include radius(0.25rem);
                padding: 1rem 2rem 1rem 2rem;
                width: 100%;
                cursor: pointer;
            }
        }

    }
    .footer-second-part {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 24px;
        
        .footer-item-contact {
            display: flex;
            flex-direction: column;
            @include gap-text(1rem);
        }
    
        .footer-contact-list {
            display: flex;
            flex-direction: column;
            @include gap-text(0.25rem);
            width: 457px;
    
            p {
                color: $text-quad;
                @include text-small;
                cursor: pointer;
            }
        }
    
        .footer-first-list {
            display: flex;
            flex-direction: column;
            @include gap-text(0.75rem);
    
            h4 {
                @include text-large;
                color: $text-inverse;
                @include weight(500);
            }
    
            ul {
                display: flex;
                flex-direction: column;
                @include gap-text(0.25rem);
                list-style-type: none;
                
                a {
                    text-decoration: none;
                    @include text-small;
                    color: $text-quad;
                }
            }
        }
    
        .footer-second-list {
            display: flex;
            flex-direction: column;
            @include gap-text(0.75rem);
    
            h4 {
                @include text-large;
                color: $text-inverse;
                @include weight(500);
            }
    
            ul {
                display: flex;
                flex-direction: column;
                @include gap-text(0.25rem);
                list-style-type: none;
                
                a {
                    text-decoration: none;
                    @include text-small;
                    color: $text-quad;
                }
            }
        }
    }

    .footer-last-part {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    
        .footer-last-info {
            display: flex;
            justify-content: space-between;
            @include margin-text(1.5rem 0 0 0);
    
            .footer-frame {
                p{
                    @include text-small;
                    @include weight(400);
                    color: $text-quad;
                }
            }
    
            .footer-last-frame {
                display: flex;
                align-items: center;
                
                p {
                    @include text-small;
                    @include weight(400);
                    color: $text-tertiary;
                }
    
                a {
                    height: 14px;
                    @include margin-text(0.125rem 0 0 0.25rem);
                }
            }
        }
    }
}


.elektro-bg {
    display: flex;
    align-items: center;
    background-color: $brand-light;
    height: 528px;

    .main-information {
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 64px;

        .elektro-features {
            max-width: 555px;

            .elektro-items {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                gap: 4px;
                color: $text-tertiary;      

                p {
                    @include text-large;
                }
            }

            h1 {
                @include h1;
                color: $text-primary;
                font-weight: 600;
                margin-bottom: 24px;
            }

            p {
                @include text-large;
                font-weight: 400;
                
            }
        }

        img {
            border-radius: 12px;
        }
    }
}

.main-splide-content {
    max-width: 90rem;
    margin: 0 auto;
}

.section-cards {
    display: flex;
    align-items: center;
    height: 568px;

    .elektro-cards {
        display: flex;
        flex-direction: column;
        max-width: 90rem;
        margin: 0 auto;
        gap: 40px;
    
        h2 {
            @include h2;
            font-weight: 600;
            color: $text-primary;
        }
    
        .elektro-item {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            
            
    
            .elektro-card {
                display: flex;
                flex-basis: calc(33.33% - 20px);
                padding: 16px 20px;
                align-items: center;
                border-radius: 8px;
                border: 1px solid rgba(209, 213, 219, 1);
                gap: 16px;
                
    
                h5 {
                    @include h5;
                    font-weight: 600;
                }
                
            }
        }
    }
}

.section-services {
    height: 1152px;

    .services-features {
        display: flex;
        flex-direction: column;
        max-width: 90rem;
        margin: 0 auto;
        gap: 64px;

        .services-items {
            display: flex;
            align-items: center;
            gap: 48px;

            .services-text {
                width: 50%;

                h2 {
                    @include h2;
                    margin-bottom: 16px;
                }
    
                p {
                    @include text-large;
                    color: $text-secondary;
                    font-weight: 400;
                }
    
                .highlight-part {
                    font-weight: 600;
                }
            }

            .services-part {
                padding: 0 56px 0 0;
            }

            .services-part-second {
                padding: 0 0 0 56px;
            }

            .services-img {
                width: 50%;

                img {
                    width: 100%;
                }
            }

        }
    }
}

.section-items {
    display: flex;
    align-items: center;
    height: 488px;

    .content-items-info {
        display: flex;
        flex-direction: column;
        max-width: 90rem;
        margin: 0 auto;
    }

    h2 {
        @include h2;
        margin-bottom: 40px;
    }

    .items-features {
        display: flex;
        gap: 64px;

        .items-content {
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            padding: 24px 24px 32px 24px;
            width: 100%;
            gap: 24px;
            background-color: $dark-bg;


            .items-icon {
                padding: 12px;
                border: 1px solid $color-ondark;
                width: 48px;
                height: 48px;
                border-radius: 4px;
            }

            h5 {
                @include h5;
                margin-bottom: 8px;
                font-weight: 600;
                color: $text-inverse;
            }

            p {
                @include text-medium;
                font-weight: 500;
                color: $text-quad;
            }
        }

        .light-color {
            background-color: $text-secondary;

            .light-color-icon {
                border: 1px solid $brand-border-light;
            }
        }
    }
}