@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*SLIDER FIRST*/
.main-splide-content {
  max-width: 90rem;
  margin: 0 auto;
  width: 100%;
}

.section-slider1 {
  display: flex;
  align-items: center;
  padding: 4rem 0 2.5rem 0;
}

.slider1::before,
.slider1::after {
  background: linear-gradient(to right, rgb(234, 237, 241) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider1::before {
  left: 0;
  top: 0;
}

.slider1::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider1.slider-bg::before,
.slider1.slider-bg::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider1.slider-bg::before {
  left: 0;
  top: 0;
}

.slider1.slider-bg::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*SLIDER 2*/
.splide2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splide__pagination {
  position: relative !important;
  bottom: 0 !important;
  margin-top: 0.625rem !important;
}

.splide__pagination__page.is-active {
  background: rgb(28, 30, 40) !important;
}

/*SLIDER 3*/
.slider3 {
  display: flex;
  justify-content: flex-end; /* Zarovná slidy na pravou stranu */
}
.slider3 .splide3-human img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.slide-caption {
  background-color: rgb(56, 65, 80);
  padding: 1.5rem 1rem 1.25rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.slide-caption .splide-info-job {
  color: rgb(249, 115, 22);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.slide-caption h4 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.25rem;
}
.slide-caption p {
  color: rgb(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .section-slider {
    padding: 0 3rem;
  }
  .section-slider1 {
    padding: 4rem 3rem 2.5rem 3rem;
  }
}
@media screen and (max-width: 1279px) {
  .section-slider {
    display: none;
  }
  .section-slider1 {
    display: none;
  }
}
@media screen and (max-width: 1920px) {
  .slider3 {
    display: none;
  }
}
.main-content-logistics {
  width: 50%;
}

.img-item-logistics {
  width: 50% !important;
}
.img-item-logistics img {
  width: auto !important;
}

/*Section About Transportation*/
.services-items-logistics {
  width: 50%;
  padding-right: 3.5rem;
}
.services-items-logistics .services-logistics ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2.5rem 0 0 0;
}
.services-items-logistics .services-logistics ul .services-logistics-list {
  display: flex;
  gap: 0.75rem;
}
.services-items-logistics .services-logistics ul li {
  list-style-type: none;
}
.services-items-logistics .services-logistics ul li p {
  color: rgb(56, 65, 80);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.services-logistics-feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-logistics-item {
  margin: 0 0 0 1.875rem;
}

.services-logistics-container {
  display: flex;
  align-items: center;
  background-color: rgb(234, 237, 241);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  margin: 1.5rem 0 0 0;
  gap: 0.75rem;
}
.services-logistics-container p {
  color: rgb(56, 65, 80) !important;
  font-weight: 400 !important;
  font-size: 1rem !important; /*uz zoufalost*/
  line-height: 1.5rem !important;
}

/*Breakpointy*/
@media screen and (max-width: 1279px) {
  .img-item-logistics {
    width: 100% !important;
  }
  .img-item-logistics img {
    width: 100% !important;
  }
}
@media screen and (max-width: 1023px) {
  .main-info-logistics {
    gap: 0 !important;
  }
  .services-items-logistics {
    width: 100%;
    padding: 0;
  }
  .items-logistics-reverse {
    flex-direction: column-reverse !important;
  }
  .services-logistics.p-l-56 {
    padding: 0 !important;
  }
}
/*Footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 41, 55);
  padding: 6rem 7rem 2.5rem 7rem;
}
.footer-container .footer-items-content {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.footer-container .footer-content {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: space-between;
}
.footer-container .footer-content .footer-first-part {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.footer-container .footer-content .footer-first-part .first-part-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container .footer-content .footer-first-part .first-part-text .footer-contact {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(249, 115, 22);
  font-weight: 500;
}
.footer-container .footer-content .footer-first-part .first-part-text h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.footer-container .footer-content .footer-first-part .first-part-text p {
  max-width: 35.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.footer-container .footer-content .footer-first-part .footer-info {
  display: flex;
  flex-direction: column;
  gap: 1.313rem;
}
.footer-container .footer-content .footer-first-part .footer-info .footer-items {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.footer-container .footer-content .footer-first-part .footer-info .footer-items p {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.footer-container .footer-content .footer-first-part .footer-info .footer-items .bi-telephone {
  color: rgb(255, 255, 255);
}
.footer-container .footer-content .footer-first-part .footer-info .footer-items .bi-envelope {
  color: rgb(255, 255, 255);
}
.footer-container .footer-content .footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 35.5rem;
  position: relative;
  padding: 2rem 0 2rem 2rem;
  gap: 2rem;
}
.footer-container .footer-content .footer-form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.footer-container .footer-content .footer-form .row #name {
  height: 2.625rem;
}
.footer-container .footer-content .footer-form .row .group-name {
  width: 50%;
}
.footer-container .footer-content .footer-form .input-group {
  position: relative;
  padding: 0.5rem 0 0 0;
}
.footer-container .footer-content .footer-form .input-group input, .footer-container .footer-content .footer-form .input-group textarea {
  width: 100%;
  padding: 0.625rem;
  background-color: rgb(55, 65, 81);
  font-size: 15px;
  border: none;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
}
.footer-container .footer-content .footer-form .input-group input:focus, .footer-container .footer-content .footer-form .input-group input:active, .footer-container .footer-content .footer-form .input-group input:hover, .footer-container .footer-content .footer-form .input-group textarea:focus, .footer-container .footer-content .footer-form .input-group textarea:active, .footer-container .footer-content .footer-form .input-group textarea:hover {
  border: 2px solid rgb(209, 213, 219);
  outline: none;
}
.footer-container .footer-content .footer-form .input-group ::-moz-placeholder {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.footer-container .footer-content .footer-form .input-group ::placeholder {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}
.footer-container .footer-content .footer-form .input-group #email {
  height: 2.625rem;
}
.footer-container .footer-content .footer-form .input-group label {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 1.563rem;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding: 0.5rem 0 0 0;
}
.footer-container .footer-content .footer-form button {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: rgb(249, 115, 22);
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}
.footer-container .footer-content .footer-form button:hover {
  background-color: rgba(249, 115, 22, 0.8);
}
.footer-container .footer-content .footer-form button:focus, .footer-container .footer-content .footer-form button:active {
  border: 1px solid rgb(70, 143, 254);
  box-shadow: 0px 0px 0px 3px rgb(70, 143, 254);
}
.footer-container .footer-second-part {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-container .footer-second-part .footer-item-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  padding: 1.5rem;
}
.footer-container .footer-second-part .footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.footer-container .footer-second-part .footer-contact-list p {
  color: rgb(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.375rem;
  cursor: pointer;
  white-space: nowrap;
}
.footer-container .footer-second-part .footer-contact-list p:hover, .footer-container .footer-second-part .footer-contact-list p:focus, .footer-container .footer-second-part .footer-contact-list p:active {
  color: rgb(255, 255, 255);
}
.footer-container .footer-second-part .footer-first-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
}
.footer-container .footer-second-part .footer-first-list p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.footer-container .footer-second-part .footer-first-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style-type: none;
}
.footer-container .footer-second-part .footer-first-list ul li p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: rgb(156, 163, 175);
  font-weight: 400;
}
.footer-container .footer-second-part .footer-second-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.5rem;
}
.footer-container .footer-second-part .footer-second-list p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.footer-container .footer-second-part .footer-second-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style-type: none;
}
.footer-container .footer-second-part .footer-second-list ul a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: rgb(156, 163, 175);
}
.footer-container .footer-second-part .footer-second-list ul a:hover, .footer-container .footer-second-part .footer-second-list ul a:focus, .footer-container .footer-second-part .footer-second-list ul a:active {
  color: rgb(255, 255, 255);
}
.footer-container .footer-last-part {
  width: 100%;
  border-top: 0.063rem solid rgba(255, 255, 255, 0.1);
}
.footer-container .footer-last-part .footer-last-info {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 0 0;
}
.footer-container .footer-last-part .footer-last-info .footer-frame p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: rgb(156, 163, 175);
}
.footer-container .footer-last-part .footer-last-info .footer-last-frame {
  display: flex;
  align-items: center;
}
.footer-container .footer-last-part .footer-last-info .footer-last-frame p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: rgb(107, 114, 128);
}
.footer-container .footer-last-part .footer-last-info .footer-last-frame a {
  align-items: center;
  display: flex;
  height: 0.875rem;
  margin: 0.125rem 0 0 0.25rem;
}
.footer-container .footer-last-part .footer-last-info .footer-last-frame .footer-last-name {
  text-decoration: none;
}
.footer-container .footer-last-part .footer-last-info .footer-last-frame .footer-last-name p {
  font-weight: 500;
  color: rgb(156, 163, 175);
}

/*Breakpointy*/
@media screen and (max-width: 767px) {
  .footer-container {
    padding: 4rem 1rem;
  }
  .footer-item-contact {
    padding: 1.5rem 0 !important;
  }
  .footer-first-list {
    padding: 1.5rem 0 !important;
  }
  .footer-second-list {
    padding: 1.5rem 0 !important;
  }
  .footer-last-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-container {
    padding: 6rem 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-form {
    padding: 2rem 0 2rem 0;
  }
  .footer-container .footer-content .footer-form {
    padding: 2rem 0 2rem 0;
    width: 100%;
  }
  .footer-form button {
    background-color: aqua;
  }
  .footer-second-part {
    flex-direction: column;
  }
}
/* HEADER */
.header-container {
  background-color: rgb(234, 237, 241);
  display: flex;
  justify-content: center;
}
.header-container .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: 0 3rem;
  border-bottom: 0.063rem solid rgb(209, 213, 219);
  padding: 2rem 0;
  width: 100%;
}
.header-container .header-wrapper .header-nav ul {
  display: flex;
  cursor: pointer;
  gap: 2rem;
}
.header-container .header-wrapper .header-nav li {
  list-style-type: none;
}
.header-container .header-wrapper .header-nav a {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(56, 65, 80);
  text-decoration: none;
}
.header-container .header-wrapper .header-nav a:hover, .header-container .header-wrapper .header-nav a:focus, .header-container .header-wrapper .header-nav a:active {
  color: rgb(15, 19, 26);
  text-decoration: underline;
}
.header-container .header-wrapper .header-list {
  display: flex;
  gap: 0.5rem;
}
.header-container .header-wrapper .header-list .header-btn button {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgb(15, 19, 26);
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid rgb(209, 213, 219);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgb(241, 241, 241);
}
.header-container .header-wrapper .header-list .header-btn button:hover {
  background-color: rgb(234, 237, 241);
}
.header-container .header-wrapper .header-list .header-btn button:focus, .header-container .header-wrapper .header-list .header-btn button:active {
  border: 1px solid rgb(70, 143, 254);
  box-shadow: 0px 0px 0px 3px rgb(70, 143, 254);
  background-color: rgb(255, 255, 255);
}
.header-container .header-wrapper .header-list .header-btn p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.header-container .header-wrapper .header-list .dropdown {
  position: relative;
}
.header-container .header-wrapper .header-list .dropdown .select {
  background: transparent;
  color: rgb(15, 19, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}
.header-container .header-wrapper .header-list .dropdown .select:focus, .header-container .header-wrapper .header-list .dropdown .select:active, .header-container .header-wrapper .header-list .dropdown .select.is-active {
  border: 1px solid rgb(70, 143, 254);
  box-shadow: 0px 0px 0px 3px rgb(70, 143, 254);
  background-color: rgb(255, 255, 255);
}
.header-container .header-wrapper .header-list .dropdown .caret {
  width: 0;
  border-left: 0.313rem solid transparent;
  border-right: 0.313rem solid transparent;
  border-top: 0.25rem solid black;
  transition: 0.3s;
  margin: 0 0 0 0.313rem;
}
.header-container .header-wrapper .header-list .dropdown .caret-rotate {
  transform: rotate(180deg);
}
.header-container .header-wrapper .header-list .dropdown .menu {
  list-style-type: none;
  padding: 0.5rem;
  background: white;
  box-shadow: 0 1rem 2rem 0 rgba(82, 88, 117, 0.08);
  border-radius: 0.3rem;
  color: rgb(15, 19, 26);
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.header-container .header-wrapper .header-list .dropdown .menu li {
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
}
.header-container .header-wrapper .header-list .dropdown .active {
  background: lightgrey;
}
.header-container .header-wrapper .header-list .dropdown .menu-open {
  display: block;
  opacity: 1;
}

/*Breakpointy*/
@media screen and (max-width: 639px) {
  .header-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper {
    margin: 0 1rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-wrapper {
    margin: 0 2rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-nav {
    display: none;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text", sans-serif;
}

/*Introductory Main Content*/
.main-container {
  background-color: rgb(234, 237, 241);
}
.main-container .main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 90rem;
  margin: 0 auto;
}
.main-container .main-splide-content {
  margin: 0 0 6rem 0;
  width: 100%;
}

.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}
.main-wrapper .main-cards {
  position: relative;
  width: 100%;
}
.main-wrapper .main-cards .main-card-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 41, 55, 0.7);
  border-radius: 0.75rem;
}
.main-wrapper .main-cards .main-card-img img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}
.main-wrapper .main-cards .main-logo-img {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 4;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 100%;
}
.main-wrapper .main-cards .main-logo-img img {
  height: 50%;
  width: 50%;
}
.main-wrapper .main-cards .main-content-btn {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 41, 55, 0.95);
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s;
}
.main-wrapper .main-cards .main-content-btn:hover {
  opacity: 1;
}
.main-wrapper .main-cards .main-content-btn:hover > * {
  transform: translateY(0);
}
.main-wrapper .main-cards .main-content-btn button {
  position: absolute;
  bottom: 35%;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: rgb(249, 115, 22);
  color: white;
  cursor: pointer;
}

.main-content-btn > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

/*Introductory Section*/
.elektro-bg {
  display: flex;
  align-items: center;
  background-color: rgb(234, 237, 241);
}
.elektro-bg .main-information {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 40px 112px 40px 112px;
  width: 100%;
}
.elektro-bg .main-information .elektro-features {
  max-width: 34.688rem;
}
.elektro-bg .main-information .elektro-features .elektro-items {
  margin: 0 0 1.5rem 0;
}
.elektro-bg .main-information .elektro-features .elektro-items a {
  display: flex;
  text-decoration: none;
  color: rgb(107, 114, 128);
  gap: 0.25rem;
  transition: transform 0.3s ease;
}
.elektro-bg .main-information .elektro-features .elektro-items a:hover img {
  transform: translateX(-5px);
}
.elektro-bg .main-information .elektro-features .elektro-items a img {
  transition: transform 0.3s ease;
}
.elektro-bg .main-information .elektro-features .elektro-items a p {
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.elektro-bg .main-information .elektro-features h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: rgb(15, 19, 26);
  font-weight: 600;
  margin: 0 0 1.5rem 0;
}
.elektro-bg .main-information .elektro-features p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
}
.elektro-bg .main-information .elektro-item-img {
  width: 100%;
}
.elektro-bg .main-information .elektro-item-img img {
  border-radius: 0.75rem;
  width: 100%;
}

/*Section Cards*/
.section-cards {
  display: flex;
  align-items: center;
  padding: 6rem 0;
}
.section-cards .elektro-cards {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  gap: 2.5rem;
  width: 100%;
}
.section-cards .elektro-cards h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: rgb(15, 19, 26);
}
.section-cards .elektro-cards .elektro-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.section-cards .elektro-cards .elektro-item .elektro-card {
  display: flex;
  flex-basis: calc(33.33% - 1.25rem);
  padding: 1rem 1.25rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.063rem solid rgb(209, 213, 219);
  gap: 1rem;
}
.section-cards .elektro-cards .elektro-item .elektro-card h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
}

/*Section About Operation*/
.section-services {
  padding: 6rem 0;
}
.section-services .services-features {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  gap: 4rem;
}
.section-services .services-features .services-items {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.section-services .services-features .services-items .services-text {
  width: 50%;
}
.section-services .services-features .services-items .services-text h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}
.section-services .services-features .services-items .services-text p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: rgb(56, 65, 80);
  font-weight: 400;
}
.section-services .services-features .services-items .services-text .highlight-part {
  font-weight: 600;
}
.section-services .services-features .services-items .services-part {
  padding: 0 3.5rem 0 0;
}
.section-services .services-features .services-items .services-part-second {
  padding: 0 0 0 3.5rem;
}
.section-services .services-features .services-items .services-img {
  width: 50%;
}
.section-services .services-features .services-items .services-img img {
  width: 100%;
}

/*Section About Why-M&M*/
.section-items {
  display: flex;
  align-items: center;
  padding: 6rem 0;
  max-width: 90rem;
  margin: 0 auto;
}
.section-items .content-items-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-items h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 2.5rem 0;
}
.section-items .items-features {
  display: flex;
  gap: 2rem;
}
.section-items .items-features .items-content {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  width: 33.33%;
  gap: 1.5rem;
  background-color: rgb(32, 41, 55);
}
.section-items .items-features .items-content .items-icon {
  padding: 0.75rem;
  border: 0.063rem solid rgb(55, 65, 81);
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
}
.section-items .items-features .items-content h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  color: rgb(255, 255, 255);
}
.section-items .items-features .items-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgb(156, 163, 175);
}
.section-items .items-features .light-color {
  background-color: rgb(56, 65, 80);
}
.section-items .items-features .light-color .light-color-icon {
  border: 0.063rem solid rgba(209, 213, 219, 0.2);
}

/*Section About Examples*/
.section-example {
  display: flex;
  align-items: center;
  padding: 6rem 0;
}
.section-example .container-example {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  gap: 2.5rem;
  width: 100%;
}
.section-example .container-example .info-example {
  max-width: 53.313rem;
}
.section-example .container-example .info-example h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: rgb(15, 19, 26);
  font-weight: 600;
  margin: 0 0 1rem 0;
}
.section-example .container-example .info-example p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(56, 65, 80);
}

/*Section About Us*/
.section-aboutus {
  padding: 6rem 5rem;
  background-color: rgb(234, 237, 241);
  display: flex;
  align-items: center;
}
.section-aboutus .container-aboutus {
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
  gap: 4rem;
}
.section-aboutus .container-aboutus .container-info {
  width: 50%;
}
.section-aboutus .container-aboutus .container-info .container-aboutus-word {
  color: rgb(249, 115, 22);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.section-aboutus .container-aboutus .container-info h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: rgb(15, 19, 26);
  margin: 1.5rem 0;
}
.section-aboutus .container-aboutus .container-info p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(56, 65, 80);
}

.w-100 {
  width: 100% !important;
}

.m-8 {
  margin: 0 0.5rem;
}

.mr-6 {
  margin-right: 0.375rem;
}

.m-t-4 {
  margin-top: 0.25rem;
}

/*padding-left*/
.p-l-56 {
  padding-left: 3.5rem;
}

/*Section About M&M-App*/
.section-application {
  padding: 6rem 0;
}
.section-application .feature-app {
  display: flex;
  align-items: center;
  background-color: rgb(234, 237, 241);
  max-width: 90rem;
  margin: 0 auto;
  border-radius: 0.688rem;
  padding: 0 0 0 5rem;
}
.section-application .feature-app .container-app {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-application .feature-app .container-app .container-app-text h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: rgb(15, 19, 26);
  margin-bottom: 1rem;
}
.section-application .feature-app .container-app .container-app-text .app-large {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(56, 65, 80);
}
.section-application .feature-app .container-app-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-application .feature-app .container-app-list ul li {
  list-style-type: none;
  display: flex;
  gap: 0.75rem;
}
.section-application .feature-app .container-app-list ul li p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(56, 65, 80);
  font-weight: 400;
}
.section-application .feature-app .container-app-img {
  margin: 2.6875rem 0;
  width: 100%;
}
.section-application .feature-app .container-app-img img {
  width: 100%;
}

/*Breakpointy*/
@media screen and (max-width: 639px) {
  /*Introductory Section*/
  .elektro-item {
    flex-direction: column;
  }
  /*Section About Why-M&M*/
  .items-features {
    flex-direction: column;
  }
  .items-features .items-content {
    width: 100% !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  /*Section Cards*/
  .elektro-card {
    flex-basis: calc(50% - 0.625rem) !important;
  }
  /*Section About Why-M&M*/
  .items-features .items-content {
    flex-basis: calc(50% - 2rem);
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
  h4 {
    font-size: 1.25rem !important;
    line-height: 1.5rem !important;
  }
  h5 {
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
  /*Introductory Main Content*/
  .main-wrapper {
    padding: 2.5rem 1rem;
  }
  /*Introductory Section*/
  .main-information {
    padding: 2rem 1rem !important;
  }
  .main-information .elektro-features {
    max-width: 100% !important;
  }
  /*Section Cards*/
  .section-cards {
    padding: 2rem 1rem;
  }
  /*Section About Operation*/
  .section-services {
    padding: 2rem 1rem;
  }
  /*Section About Why-M&M*/
  .section-items {
    padding: 2rem 1rem;
  }
  .section-items .items-features {
    display: flex;
    flex-wrap: wrap !important;
  }
  /*Section About Examples*/
  .section-example {
    padding: 2rem 1rem;
  }
  /*Section About Us*/
  .section-aboutus {
    padding: 2rem 1rem;
  }
  /*Section About M&M-App*/
  .section-application {
    padding: 2rem 1rem;
  }
  .section-application .container-app {
    padding: 2rem 1rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Introductory Main Content*/
  .main-wrapper {
    padding: 2.5rem 2rem;
  }
  /*Introductory Section*/
  .main-information {
    padding: 2.5rem 2rem !important;
  }
  .main-information .elektro-features {
    max-width: 100% !important;
  }
  /*Section Cards*/
  .section-cards {
    padding: 6rem 2rem;
  }
  /*Section About Operation*/
  .section-services {
    padding: 6rem 2rem;
  }
  /*Section About Why-M&M*/
  .section-items {
    padding: 6rem 2rem;
  }
  .section-items .items-features {
    display: flex;
    flex-wrap: wrap !important;
  }
  /*Section About Examples*/
  .section-example {
    padding: 6rem 2rem;
  }
  /*Section About Us*/
  .section-aboutus {
    padding: 6rem 2rem;
  }
  /*Section About M&M-App*/
  .section-application {
    padding: 6rem 2rem;
  }
}
@media screen and (max-width: 1023px) {
  /*Introductory Main Content*/
  .main-wrapper {
    flex-direction: column;
  }
  /*Introductory Section*/
  .elektro-features {
    width: 100%;
  }
  /*Introductory Main Content*/
  .main-cards {
    flex-direction: column;
  }
  /*Slider1 in Electrical-Installation*/
  .section-slider1 {
    display: none;
  }
  /*Introductory Section*/
  .main-information {
    flex-direction: column;
  }
  /*Section About Operation*/
  .services-items {
    flex-direction: column;
  }
  .services-items .services-text {
    width: 100% !important;
    padding: 0 !important;
  }
  .services-items .services-img {
    width: 100% !important;
  }
  .services-items-reverse {
    flex-direction: column-reverse;
  }
  /*Section About Us*/
  .section-aboutus .container-aboutus {
    flex-direction: column;
  }
  .section-aboutus .container-aboutus .container-info {
    width: 100% !important;
  }
  /*Section About M&M-App*/
  .feature-app {
    flex-direction: column;
    padding: 0 !important;
  }
  .feature-app .container-app {
    padding: 1.25rem;
  }
  .feature-app .container-app-img {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  /*Introductory Main Content*/
  .main-wrapper {
    padding: 2.5rem 3rem;
  }
  /*Introductory Section*/
  .main-information {
    padding: 2rem 3rem !important;
  }
  .main-information .elektro-features {
    max-width: 100% !important;
  }
  /*Section Cards*/
  .section-cards {
    padding: 6rem 3rem;
  }
  /*Section About Operation*/
  .section-services {
    padding: 6rem 3rem;
  }
  /*Section About Why-M&M*/
  .section-items {
    padding: 6rem 3rem;
  }
  /*Section About Examples*/
  .section-example {
    padding: 6rem 3rem;
  }
  /*Section About Us*/
  .section-aboutus {
    padding: 6rem 3rem;
  }
  /*Section About M&M-App*/
  .section-application {
    padding: 6rem 3rem;
  }
  .section-application .container-app {
    padding: 3rem;
  }
}/*# sourceMappingURL=style.css.map */