/*Footer*/
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-bg;
    padding: 6rem 7rem 2.5rem 7rem;

    .footer-items-content {
        max-width: 90rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .footer-content {
        display: flex;
        gap: 4rem;
        width: 100%;
        justify-content: space-between;

        .footer-first-part {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;

            .first-part-text {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .footer-contact {
                    @include text-medium;
                    color: $brand-color;
                    font-weight: 500;
                }

                h2 {
                    @include h2;
                    color: $text-inverse;
                    font-weight: 600;
                }
    
                p  {
                    max-width: 35.5rem;
                    @include text-medium;
                    font-weight: 400;
                    color: $text-inverse;
                }
            }
            
            .footer-info {
                display: flex;
                flex-direction: column;
                gap: 1.313rem;
                
                .footer-items {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    p {
                        color: $text-inverse;
                        @include text-large;
                    }

                    .bi-telephone {
                        color: $text-inverse;
                    }

                    .bi-envelope {
                        color: $text-inverse;
                    }
                }
            }
            
        }
        .footer-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            width: 35.5rem;
            position: relative;
            padding: 2rem 0 2rem 2rem;
            gap: 2rem;
        
            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1.25rem;
        
                #name {
                    height: 2.625rem;
                }

                .group-name {
                    width: 50%;
                }
            }

        
            .input-group {
                position: relative;
                padding: 0.5rem 0 0 0;
            
                input, textarea {
                    width: 100%;
                    padding: 0.625rem;
                    background-color: $color-ondark;
                    font-size: 15px;
                    border: none;
                    border-radius: 0.25rem;
                    color: $text-inverse;

                    &:focus,
                    &:active,
                    &:hover {
                        border: 2px solid rgba(209, 213, 219, 1);
                        outline: none;
                    }
                }
                
                ::placeholder {
                    color: $text-tertiary;
                    @include text-small;
                    font-weight: 400;
                }

                #email {
                    height: 2.625rem;
                }

                label {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 1.563rem;
                    color: $text-inverse;
                    @include text-small;
                    font-weight: 500;
                    padding: 0.5rem 0 0 0;
                }
            }
        
            button {
                color: #fff;
                @include text-medium;
                font-weight: 500;
                background-color: $brand-color;
                border: none;
                border-radius: 0.25rem;
                padding: 1rem 2rem;
                width: 100%;
                cursor: pointer;

                &:hover {
                    background-color: $brand-color-dark;
                }

                &:focus,
                &:active {
                    border: 1px solid rgba(70, 143, 254, 1);
                    box-shadow: 0px 0px 0px 3px rgba(70, 143, 254, 1);
                }
            }
        }

    }
    .footer-second-part {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        .footer-item-contact {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 40%;
            padding: 1.5rem;
        }
    
        .footer-contact-list {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
    
            p {
                color: $text-quad;
                @include text-small;
                cursor: pointer;
                white-space: nowrap;

                &:hover,
                &:focus,
                &:active {
                    color: $text-inverse;
                }
            }
        }
    
        .footer-first-list {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1.5rem;
    
            p {
                @include text-large;
                color: $text-inverse;
                font-weight: 500;
            }
    
            ul {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                list-style-type: none;

                li {
                    p {
                        
                        @include text-small;
                        color: $text-quad;
                        font-weight: 400;
                    }
                }
                
                
            }
        }
    
        .footer-second-list {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1.5rem;
    
            p {
                @include text-large;
                color: $text-inverse;
                font-weight: 500;
            }
    
            ul {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                list-style-type: none;
                
                a {
                    text-decoration: none;
                    @include text-small;
                    color: $text-quad;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $text-inverse;
                    }
                }
            }
        }
    }

    .footer-last-part {
        width: 100%;
        border-top: 0.063rem solid rgba(255, 255, 255, 0.1);
    
        .footer-last-info {
            display: flex;
            justify-content: space-between;
            margin: 1.5rem 0 0 0;
    
            .footer-frame {
                p{
                    @include text-small;
                    font-weight: 400;
                    color: $text-quad;
                }
            }
    
            .footer-last-frame {
                display: flex;
                align-items: center;
                
                p {
                    @include text-small;
                    font-weight: 400;
                    color: $text-tertiary;
                }
    
                a {
                    align-items: center;
                    display: flex;
                    height: 0.875rem;
                    margin: 0.125rem 0 0 0.25rem;
                }

                .footer-last-name {
                    text-decoration: none;

                    p {
                        font-weight: 500;
                        color: $text-quad;
                    }
                }
            }
        }
    }
}

/*Breakpointy*/
@media screen and (max-width: 767px) {
    .footer-container {
        padding: 4rem 1rem;
    }

    .footer-item-contact {
        padding: 1.5rem 0 !important;
    }

    .footer-first-list {
        padding: 1.5rem 0 !important;
    }

    .footer-second-list {
        padding: 1.5rem 0 !important;
    }


    .footer-last-info {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-container {
        padding: 6rem 2rem;
    }
}

@media screen and (max-width: 1023px) {

    .footer-content {
        flex-direction: column;
    }
    .footer-form {
        padding: 2rem 0 2rem 0;
    }

    .footer-container .footer-content .footer-form {
        padding: 2rem 0 2rem 0;
        width: 100%;
    }
    
    .footer-form button {
        background-color: aqua;
    }

    .footer-second-part {
        flex-direction: column;
    }
}
