/* HEADER */
.header-container {
    background-color: $brand-light;
    display: flex;
    justify-content: center;

    .header-wrapper { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        max-width: 90rem;
        @include margin(0 3rem);
        border-bottom: 0.063rem solid $brand-border;
        @include padding(2rem 0);
        width: 100%;

        .header-nav {
            ul {
                display: flex;
                cursor: pointer;
                @include gap(2rem)
            }
                li{
                    list-style-type: none;
                }
                    a {
                        @include text-medium;
                        color: $text-secondary;
                        text-decoration: none;
                    }
        }

        .header-list {
            display: flex;
            @include gap(0.5rem);

            .header-btn {
                button {
                    @include contact-btn;
                }
                    p {
                        @include text-medium;
                        @include weight(500);
                    }
            }

            .dropdown {
                position: relative;
            
                .select {
                    background: transparent;
                    color: $text-primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include padding(0.5rem 1rem);
                    @include text-medium;
            
                    &:hover,
                    &:active {
                        background-color: aqua;
                    }
                }
                
                .caret {
                    width: 0;
                    border-left: 0.313rem solid transparent;
                    border-right: 0.313rem solid transparent;
                    border-top: 0.25rem solid black;
                    transition: 0.3s;
                    @include margin(0 0 0 0.313rem);
                }
                
                .caret-rotate {
                    transform: rotate(180deg);
                }
                
                .menu {
                    list-style-type: none;
                    @include padding(0.5rem);
                    background: white;
                    box-shadow: 0 1rem 2rem 0 rgba(82, 88, 117, 0.08);
                    @include radius(0.3rem);
                    color: $text-primary;
                    position: absolute;
                    top: 3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    display: none;
                    transition: 0.2s;
                    z-index: 1;
            
                    li {
                        @include padding(1rem);
                        @include margin(0.5rem 0);
                        @include radius(0.3rem);
                    }
                }
                
                .active {
                    background: lightgrey;
                }
                
                .menu-open {
                    display: block;
                    opacity: 1;
                }
            }
        }
        
    }
}