
/*SLIDER FIRST*/
.main-splide-content {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
}
.section-slider1 {
    display: flex;
    align-items: center;
    padding: 4rem 0 2.5rem 0;
}

.slider1::before,
.slider1::after {
    background: linear-gradient(to right, rgba(234, 237, 241, 1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider1::before {
    left: 0;
    top: 0;
}

.slider1::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider1.slider-bg::before,
.slider1.slider-bg::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider1.slider-bg::before {
    left: 0;
    top: 0;
}

.slider1.slider-bg::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*SLIDER 2*/
.splide2 img {
    width: 100%;
    object-fit: cover;
}

.splide__pagination {
    position: relative!important;
    bottom: 0!important;
    margin-top: 0.625rem!important;
}

.splide__pagination__page.is-active {
    background: rgba(28, 30, 40, 1) !important;
}

/*SLIDER 3*/
.slider3 {
    display: flex;
    justify-content: flex-end; /* Zarovná slidy na pravou stranu */

    .splide3-human img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .5rem .5rem 0 0;
    }
}


.slide-caption {
    background-color: $text-secondary;
    padding: 1.5rem 1rem 1.25rem 1.25rem;
    border-radius: 0 0 0.5rem 0.5rem;

    .splide-info-job {
        color: $brand-color;
        @include text-small;
        font-weight: 400;
        margin-bottom: .25rem;
    }

    h4 {
        color: $text-inverse;
        font-weight: 600;
        @include h4;
        margin-bottom: .25rem;
    }

    p {
        color: $text-quad;
        @include text-small;
        font-weight: 400;
    }
}


@media screen and (min-width: 1280px) {
    .section-slider {
        padding: 0 3rem;
    }

    .section-slider1 {
        padding: 4rem 3rem 2.5rem 3rem;
    }
}

@media screen and (max-width: 1279px) {
    .section-slider {
        display: none;
    }

    .section-slider1 {
        display: none;
    }
}

@media screen and (max-width: 1920px) {
    .slider3 {
        display: none;
    }
}