
.services-items-logistika {
    width: 50%;
    padding-right: 3.5rem;
    
    .services-logistika {
        padding-left: 3.5rem;

        ul {
            display: flex;
            flex-direction: column;
            @include gap(1rem);
            @include margin(2.5rem 0 0 0);

            .services-logistika-list {
                display: flex;
                @include gap(0.75rem);
            }

            li {
                list-style-type: none;
    
                p {
                    color: $text-secondary;
                    @include text-medium;
                    @include weight(400);
                }
            }
        }
    }
    
}

.services-logistika-feature {
    display: flex;
    flex-direction: column;
    @include gap(1rem);
}

.services-logistika-item {
    @include margin(0 0 0 1.875rem);
}

.services-logistika-container {
    display: flex;
    align-items: center;
    background-color: $brand-light;
    @include padding(0.75rem 1rem);
    @include radius(0.25rem);
    @include margin(1.5rem 0 0 0);
    @include gap(0.75rem);

    p {
        color: $text-secondary !important;
        font-weight: 400 !important;
        font-size: 1rem !important; /*uz zoufalost*/
        line-height: 1.5rem !important;
    }
}

