
/*Section About Transportation*/
.services-items-logistika {
    width: 50%;
    padding-right: 3.5rem;
    
    .services-logistika {
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 2.5rem 0 0 0;

            .services-logistika-list {
                display: flex;
                gap: 0.75rem;
            }

            li {
                list-style-type: none;
    
                p {
                    color: $text-secondary;
                    @include text-medium;
                    font-weight: 400;
                }
            }
        }
    }
    
}

.services-logistika-feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services-logistika-item {
    margin: 0 0 0 1.875rem;
}

.services-logistika-container {
    display: flex;
    align-items: center;
    background-color: $brand-light;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    margin: 1.5rem 0 0 0;
    gap: 0.75rem;

    p {
        color: $text-secondary !important;
        font-weight: 400 !important;
        font-size: 1rem !important; /*uz zoufalost*/
        line-height: 1.5rem !important;
    }
}


/*Breakpointy*/
@media screen and (max-width: 1023px) {
    .main-info-logistics {
        gap: 0 !important;
    }


    .services-items-logistika {
        width: 100%;
        padding: 0;
    }

    .items-logistika-reverse {
        flex-direction: column-reverse !important;
    }

    .services-logistika.p-l-56 {
        padding: 0 !important;
    }
}
